#img-and-text{
    width:350px;
    height:600px;
    display: inline-block;
}

#link-to-index{
    background-color: lightblue;
    width: 100px;
    height: 60px;
    display: inline-block;
    float: top;
    margin-left: 40px;
    border-radius: 25px;
    padding: 20px
}

#little-prince-img{
    width: 350px;
    height: 300px;
}

#add-orange{
    background-color: orange;
}

.add-red{
    color: red;
}
#index-header{
    font-family:fantasy;
    background-color: darkblue;
    color: gold;
    text-align: center
}

#about-me-div{
    width:400px;
    height:350px;
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    float: left;
    background-color: gold;
    color: darkblue;
    border: 3px solid black;
}

#index-headshot-div{
    width:360px;
    height:350px;
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    margin: 0 auto
}

#index-headshot-nametag-div{
    background-color: darkblue;
    color:gold;
    width: 320px;
    border-radius: 25px;
    border: 3px solid black;
}

#school-schedule-div{
    width:440px;
    height:350px;
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    float: right;
    background-color: gold;
    color: darkblue;
    border: 3px solid black;
}

#introduction-link-div{
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    background-color: gold;
    color: darkblue;
    border: 3px solid black;
}

#little-prince-link-div{
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    background-color: gold;
    color: darkblue;
    border: 3px solid black;
}

#Assignment-3-link-div{
    display: inline-block;
    border-radius: 25px;
    padding:20px;
    background-color: gold;
    color: darkblue;
    border: 3px solid black;
}

.name-and-major{
    text-align: center;
}

#intro-header{
    font-family:fantasy;
    background-color: lightgrey;
    color: black;
    text-align: center;
}

#intro-link-to-index{
    width: 200px;
    background-color: lightgray;
    color:black;
    padding: 20px;
    border-radius: 25px;
    border:2px solid black;
    text-align: center;
    display: inline-block;
}

#intro-table-div{
    width: 600px;
    height:370px;
    background-color: lightgray;
    color:black;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
    border:2px solid black;
}

#new-york-image{
    width: 400px;
    background-color: lightgray;
    color:black;
    padding: 20px;
    border-radius: 25px;
    float: left;
    border:2px solid black;
}

#idaho-img{
    width: 665px;
    background-color: lightgray;
    color:black;
    padding: 20px;
    border-radius: 25px;
    float:right;
    border:2px solid black;
}